{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="signup">
            <div class="col-md-6" style="margin: 20%">

                <div class="card">
                <div class="signup-form-heading">
                    <h3>Register</h3>
                </div>
                    <form id="create-account-form" class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-10">
                                <img class="before-input" src="{% static "img/Name_24.png" %}">
{#                                <input type="text" id="id_first_name" class="input" placeholder="First Name">#}
                                {{ form.first_name|add_class:"input"|attr:"placeholder: First Name" }}
                                {{ form.first_name.errors|add_error_class:"error" }}

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <img class="before-input" src="{% static "img/Name_24.png" %}">
{#                                <input type="text" id="id_last_name" class="input" placeholder="Last Name">#}
                                  {{ form.last_name|add_class:"input"|attr:"placeholder: Last Name" }}
                                  {{ form.last_name.errors|add_error_class:"error" }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <img class="before-input" src="{% static "img/Name_24.png" %}">
{#                                <input type="text" id="id_username" class="input" placeholder="Username">#}
                                  {{ form.username|add_class:"input"|attr:"placeholder: username" }}
                                  {{ form.username.errors|add_error_class:"error" }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <img class="before-input" src="{% static "img/Email_24.png" %}">
{#                                <input type="email" id="id_email" class="input" placeholder="Email Address">#}
                                  {{ form.email|add_class:"input"|attr:"placeholder: email" }}
                                  {{ form.email.errors|add_error_class:"error" }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <img id="pass-img" class="before-input" src="{% static "img/Key 2_24.png" %}">
{#                                <input type="password" id="password" class="input" placeholder="Password">#}
                                  {{ form.password|add_class:"input"|attr:"placeholder: password" }}
                                  {{ form.password.errors|add_error_class:"error" }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <img  class="before-input" src="{% static "img/Key 2_24.png" %}">
{#                                <input type="password" id="confirm-password" class="input" placeholder="Confirm Password">#}
                                  {{ form.password2|add_class:"input"|attr:"placeholder: confirm password" }}
                                  {{ form.password2.errors|add_error_class:"error" }}
                            </div>
                        </div>
                        <div class="sign-up-form">
                        <input class="btn btn-primary" style="width: 70%;" type="submit" value="Submit">
                            <p>Already have an account?&nbsp;<a href="{% url 'account:signin' %}">Sign in</a></p>
                            </div>
                </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}