{% load staticfiles %}
{% load widget_tweaks %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/flat-ui.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/dashboard-custom.css' %}">
    <script src="https://use.fontawesome.com/3567d7e6dd.js"></script>
</head>
<body>
<div>
    <div class="sidenav">
        <div class="close-button"><a href="#"><i class="fa fa-times fa-close"></i></a></div>
        <ul class="side-nav-list">
                <li><a href="{% url 'dashboard' %}"><img class="side-nav-img" src="{% static 'img/dashboard.svg' %}">Dashboard</a></li>
                <li><a href="{% url 'create_workout' %}"><img class="side-nav-img" src="{% static 'img/clipboard.svg' %}">Create Workouts</a></li>
                <li><a href="#"><img class="side-nav-img" src="{% static 'img/calendar.svg' %}">Schedule</a></li>
                <li><a href="#"><img class="side-nav-img" src="{% static 'img/envelope.svg' %}">Share</a></li>
                <li><a href="#"><img class="side-nav-img" src="{% static 'img/archive.svg' %}">Archives</a></li>
        </ul>

    </div>
    <div class="side-nav-main">
        <ul class="side-nav-list-main">
                    <li class="side-nav-dashboard-li"><a class="dashboard-workout-text" href="#"><img class="side-nav-img" src="{% static 'img/dashboard.svg' %}"></a></li>
                    <li><a class="create-workout-text" href="{% url 'create_workout' %}"><img class="side-nav-img" src="{% static 'img/clipboard.svg' %}"></a></li>
                    <li class="side-nav-li"><a class="calendar-workout-text" href="#"><img class="side-nav-img" src="{% static 'img/calendar.svg' %}"></a></li>
                    <li class="side-nav-li"><a class="share-workout-text" href="#"><img class="side-nav-img" src="{% static 'img/envelope.svg' %}"></a></li>
                    <li class="side-nav-li"><a class="archive-workout-text" href="#"><img class="side-nav-img" src="{% static 'img/archive.svg' %}"></a></li>
        </ul>
    </div>
    <div id="main" class="main">
        <nav class="header">
            <div class="header-logo">
                <div class="header-toggle">
                    <i class="fa fa-bars ham-menu" aria-hidden="true"></i>
                    <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" class="rounded-circle size-for-mobile"></a>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav-item logout"><a class="header-nav-link" href="{% url 'logout' %}">
                    <img src="{% static 'img/logout.svg' %}"> </a></div>
                <div class="header-nav-item settings " > <div class="header-nav-link" >
                    <img src="{% static 'img/settings.svg' %}">
                    </div>
                </div>
                <div class="header-nav-item user-avatar">
                    <div class="header-nav-link" id="dd">
                        <img  data-toggle="dropdown" src="{% if user_obj.avatar %}{{ user_obj.avatar.url }}{% else %}{% static 'img/user.svg' %}{% endif %}"
                                                  class="avatar cursor-point">
                        <ul class="dropdown-header-settings dropdown-menu">
                            <li><div><img src="{% static 'img/settings.svg' %}"> <a href="#">Account Settings</a></div></li>
                            <li><div><img src="{% static 'img/Name_24.png' %}"><a href="#">Profile Settings</a></div></li>
                            <div class="dropdown-divider"></div>
                            <li><div><img src="{% static 'img/logout.svg' %}"><a href="#">Logout</a></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
                <div class="row row-margin-top">
                    <div class="col-md-4 col-sm-10 col-xs-12">
                            <div class="card text-center">
                                <h4 class="card-header">My Fitness Profile</h4>
                                <div class="card-block">
                                    <h4 class="card-title">Progress</h4>
                                    <div>

                                         <div class="card-inline"><img class='card-img-top'
                                                                       src="{% if user_obj.avatar %}{{ user_obj.avatar.url }} {% else %}{{ 'http://placehold.it/150x150' }}{% endif %}"
                                                                       style="width: 150px; height: 150px">
                                             <p>Previous</p></div>
                                         <div class="card-inline"><img class='card-img-top' src="http://placehold.it/150x150">
                                             <p>Current</p></div>
                                    </div>
                                </div>
                                <hr>

                                <div id="profile-card" class="card-block">
                                    <form method="post" action="{% url 'dashboard' %}">
                                        {% csrf_token %}
                                        <div class="form-group row lmargin">
                                            <label for="name-input" class="col-sm-2 col-form-label col-form-label-sm">
                                                <img src="{% static 'img/UserFilled-50.png' %}" style="width: 32px; height: 32px"></label>
                                            <div class="col-sm-10">
                                                {{ user_form.first_name|add_class:'form-control form-control-sm'|attr:"id: name-input" }}
                                                {{ user_form.last_name|attr:"hidden" }}
                                            </div>
                                        </div>
                                        <div class="form-group row lmargin">
                                            <label for="wt-input" class="col-sm-2 col-form-label col-form-label-sm">
                                                <img src="{% static 'img/Scale-26.png' %}"></label>
                                            <div class="col-sm-10 input-group" id="user-weight">
                                                {{ form.weight|add_class:'form-control form-control-sm'|attr:'id: wt-input'|attr:'placeholder: Weight' }}
                                                <select class="custom-select mb2 mr-sm-2 mb-sm-0">
                                                    <option selected>lbs.</option>
                                                    <option>Kg.</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row lmargin">
                                            <label for="bf-input" class="col-sm-2 col-form-label col-form-label-sm">
                                                <img src="{% static 'img/Torso_32.png' %}"></label>
                                            <div class="col-sm-10 input-group">
                                                {{ form.body_fat|add_class:'form-control form-control-sm'|attr:'id: bf-input'|attr:'placeholder: Body Fat' }}
                                            </div>
                                        </div>
                                        <div class="form-group row lmargin">
                                            <label for="gender" class="col-sm-2 col-form-label col-form-label-sm">
                                                <img src="{% static 'img/Toilet_32.png' %}"> </label>
                                            <div class="col-sm-10 input-group">
                                                {{ form.gender|add_class:'custom-select mb2 mr-sm-2 mb-sm-0' }}
                                            </div>
                                        </div>
                                        <div class="form-group row lmargin">
                                                <label for="about-me" class="col-sm-2 col-form-label col-form-label-sm">About</label>
                                            <div class="col-sm-10 input-group">
                                                {{ form.about|add_class:'form-control'|attr:'id: about-me'|attr:'rows: 3'|attr:'placeholder: about yourself' }}
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </form>
                                </div>

                            </div>
                    </div>
                    <div class="col-md-4 col-sm-10 col-xs-12">
                        <div class="card text-center">
                            <h4 class="card-header">Next Workout</h4>
                            <div class="card-block">
                                <div class="text-center">
                                    <div>
                                        <p class="card-text display-inline workout-text">3 March 2017</p>
                                    <br/><p class="card-text float-left clear">Type: <span>Strength Training</span></p>
                                    </div>
                                    <div class="clear image">
                                        <p class="img-overlay">Target muscles: <span>Triceps</span></p>
                                        <img src="{% static 'img/250px-Triceps_brachii.png' %}">
                                    </div>
                                </div>
                            </div>
                               <div>
                                   <table class="table">
                                        <thead>
                                             <tr>
                                                 <th>#</th>
                                                 <th>Exercise</th>
                                                 <th>Sets</th>
                                                 <th>Reps</th>
                                             </tr>
                                        </thead>
                                       <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Straight Arm pull downs</td>
                                                <td>4</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Hammer Curls</td>
                                                <td>4</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Overhead Extensions</td>
                                                <td>4</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Overhead press</td>
                                                <td>4</td>
                                                <td>12</td>
                                            </tr>
                                       </tbody>
                                   </table>
                               </div>

                        </div>
                    </div>
                </div>

            <footer><div style="margin-top: 5%"><p style="border-top: solid #0d71bb 1px;">Levi Heidrick</p></div></footer>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{#<script src="{% static 'js/foundation.js' %}"></script>#}
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/what-input.js' %}"></script>
</body>
</html>