{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">

</div>

<script src="{% static 'dist/build.js' %}"></script>
<script type="text/javascript" src="https://use.fontawesome.com/3567d7e6dd.js"></script>
</body>
</html>