<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar light class="blue-grey lighten-4">
                <v-avatar size="96" class="tile">
                    <img src="https://s3.amazonaws.com/wmw-static/static/img/WMW2.png">
                </v-avatar>
                <v-toolbar-title>Password Reset</v-toolbar-title>
                <v-spacer></v-spacer>

              </v-toolbar>
              <v-card-text>
                <v-form method="post" action="/v1/confirm-password-reset/">
                  <v-text-field prepend-icon="person" name="username" label="Username" type="text"></v-text-field>
                  <v-text-field label="Token" type="text" name="token" hint="Please enter the token you received via email"></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" type="text" hint="Please enter your new password"></v-text-field>
                  <v-text-field label="Confirm Password" name="password2" type="text" hint="Please confirm the new password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" type="submit">Submit</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({ el: '#app' })
  </script>
</body>
</html>