{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div>
    <p>Below are your requested login credentials.</p>
    <p>Please use the token below to change your password. The token will expire in 24 hours. Please visit the link below to complete the process.</p>

    <div>
        <p>Username: <em>{{ username }}</em></p>
        <p>Token:  <em>{{ password }}</em></p>
    </div>
</div>

<p>You can change your password at <a href="https://dev.whatsmyworkout.co/password-reset-confirm/">https://dev.whatsmyworkout.co/password-reset-confirm/</a> </p>
<span>
    Thank you for using our site,
    <p>What's My Workout Team</p>
</span>
</body>
</html>