body {
    background: url("../img/weight-lift-3.png") no-repeat right bottom;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}


.header {
    height: 60px;
    padding: 0 10px 0 15px;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 200ms;
    z-index: 60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #f7f7f7;
    width: calc(100% - 60px);

}



.header-nav-item.settings .header-nav-link img {
    height: 24px;
    width: 24px;
}

.header-nav-item.logout .header-nav-link img {
    height: 22px;
    width: 22px;
}

.header-nav {
    display: flex;
}

.header-nav-item {
    position: relative;
}

.header-nav-link {
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    margin: 0;
    display: block;
    position: relative;

}

.cursor-point {
    cursor: pointer;
}

.avatar {
    width: 36px;
    height: 36px;
    box-shadow: none;
    position: relative;
    top: -2px;
    margin: 5px;
    border-radius: 50%!important;
    display: inline;
}

.main {
    position: relative;
    flex-grow: 1;
    overflow: auto;
    height: calc(100vh - 60px);
    padding-top: 60px;
}
.container-custom {
    width: 100%;
    margin: 0 auto;
}

.grid-block {
    display: flex;
    height: auto;
    position: relative;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: #f7f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
    border-right: 1px solid darkslateblue;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #04033f;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

.close-button {
    width: 100%;
}

.close-button > a i.fa-close {
    position: absolute;
    font-size: 24px;
    right: 0;
    top: 0;
    padding: 10px;
}

.side-nav-img {
    width: 32px;
    height: 32px;
    margin-right: 1em;
}

.side-nav-list-main {
    position: fixed;
    width: 60px;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0.1em 0.1em 0.2em;
    transition: width 0.5s;
    transition-timing-function: ease;
    background-color: #f7f7f7;
    z-index: 99;
}

.side-nav-list-main > li > a {
    overflow: hidden;
    padding: 1em;
    font-size: .8em;
    font-weight: 600;
    display: inline-flex;
    text-decoration: none;
}

.side-nav-list-main li:hover {
    background-color: #85B7D9;
}

li > a[class$="-text"] span {
    align-self: center;
}

.side-nav-dashboard-li {
    border-bottom: 1px solid #270989;
    margin-bottom: 32px
}

div > ul.dropdown-header-settings {
    margin: 0 -300%;
    min-width: 13rem;

}

.dropdown-header-settings li {
    text-align: center;
}

.dropdown-header-settings > li a {
    font-size: small;
    text-decoration: none;
    margin-left: 30%;

}

.dropdown-header-settings li div {

    display: inline-flex;
    position: relative;
    align-items: center;
    width: 100%;

}

.dropdown-header-settings li div > img {
    height: 24px;
    width: 24px;
    position: absolute;
    margin-left: 5%;
}

/*.side-nav-list {*/
    /*list-style: none outside;*/
    /*font-size: 1rem;*/
    /*line-height: 1.6;*/
    /*margin-bottom: 1.25rem;*/
    /*font-family: inherit;*/
/*}*/

/*.side-nav-list > li > a {*/
    /*display: none;*/
    /*overflow: hidden;*/
    /*padding: 0 0.5em 0 0.5em;*/
    /*font-size: 0.8em;*/
    /*color: #000022;*/
    /*font-weight: 600;*/
/*}*/

/*.side-nav {*/
    /*position: fixed;*/
    /*top: 30%;*/
    /*float: left;*/
    /*box-shadow: 0.1em 0.1em 0.2em #000022;*/
    /*width: 3em;*/
    /*display: inline;*/
    /*z-index: 3000;*/
    /*padding: 0;*/
    /*!*min-height: 35%;*!*/
    /*min-width: 3em;*/
    /*overflow: hidden;*/
    /*transition: width 0.5s;*/
    /*transition-timing-function: ease;*/
/*}*/

/*.side-nav:hover {*/
    /*width: 12%;*/
/*}*/

/*.side-nav-list > li {*/
    /*padding: 1em 0.1em 0.1em 0;*/
/*}*/

/*.side-nav-list {*/
    /*padding-left: 0.1em;*/
/*}*/

/*.side-list-li:hover {*/
    /*background-color: #B0BEC5;*/
/*}*/

/*.top-nav {*/
    /*width: 100%;*/
    /*box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, .26);*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #90A4AE;*/
    /*position: relative;*/
    /*height: 8em;*/

/*}*/

.custom {
    margin: 7%;
}

.size-for-mobile {
    width: 25%;
}

.logo-custom {
    position: relative;
    width: 20%;
    height: inherit;
}

.account {
    /*margin-bottom: -200%;*/
    /*margin-top: 60%;*/
    width: 50px;
    height: 52px;
}

.drop-icon {
    height: 10px;
    width: 10px;
    position: absolute;
    right: 9em;
    top: -3em;
}

#exercise-form {
    display: none;
}

/*.drop-down-content {*/
    /*display: none;*/
    /*position: absolute;*/
    /*left: 70%;*/
    /*right: 0;*/
    /*background-color: #f9f9f9;*/
    /*min-width: 160px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    /*z-index: 1;*/
/*}*/

/*.dropdown:hover .drop-down-content {*/
    /*display: block;*/
/*}*/

.dropdown {
    position: absolute;
    right: 5%;
    top: -40%;
}

.caret {
    margin-top: 2em;
}

.card-divider > h3 {
    margin: 0;
    color: #040f16;
}

.custom-card {
    margin-top: 10em;
    margin-left: 5em;
}

.row-margin-top {
    margin-top: 2em;
    margin-left: 6em;
}

.align-center {
    text-align: center;
}

div > h4 {
    display: inherit;
}

.card-inline {
    display: inline-block;
}

.lmargin {
    margin-left: 10%;
}

#user-weight {
    width: 40%;
}

#profile-card {
    width: 95%;
}

.display-inline {
    display: inline-block;
}

.workout-text {
    font-weight: 600;
    color: #014c8c;
    text-transform: uppercase;
    float: left;
    letter-spacing: 0.2em;
    font-size: 0.9em
}

.workout-text + p {

    padding-left: 0.5em;
    text-transform: uppercase;
    float: left;
    font-size: 0.9em
}

.clear {
    clear: both;
}

.image {
    position: relative;
}

.img-overlay {
    position: absolute;
    bottom: -5%;
    background-color: #040f16;
    color: white;
    padding: 0.5em;
}

th {
    text-align: center;
}

p {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif; !important;
}

.top-drop {
    top: 340%;
    left: -45px;
}

.nav-header {
    padding-left: 50%;
}

.nav-header li {
    padding: 1em;
}

.fa.fa-bars.ham-menu {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    .side-nav-main {
        display: none;
    }

    .size-for-mobile {
        height: 48px;
        width: 62px;
    }

    .header-nav-item {
        position: static;
    }

    .header {
        width: 100%;
        z-index: 5;
        left: 0;
        transition: left 300ms;
    }

    .main {
        z-index: 5;
        left: 0;
        transition: left 300ms;
    }

    .header-toggle {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    transition: transform 400ms ease-in;
    }

    .navbar-brand {
        top: 0;
        display: block;
        width: 35px;
        height: 35px;
        background-size: 350px;
        background-position: -94px -386px;
        left: 50px;
        position: absolute;
    }

    .fa.fa-bars.ham-menu {
        display: block;
        font-size: 24px;
        width: 24px;
    }
}

