{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="signup login">
        <div class="col-md-6" style="margin: 20%;">
            <div class="card">
                <div class="signup-form-heading login">
                    <h3>Login</h3>
                </div>
                <form id="login-form" class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-10">
                            <img class="before-input" src="{% static "img/Name_24.png" %}">
                            {{ form.username|add_class:"input"|attr:"placeholder: username" }}
                            {{ form.username.errors|add_error_class:"error" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <img class="before-input" src="{% static "img/Key 2_24.png" %}">
                            {{ form.password|add_class:"input"|attr:"placeholder: password" }}
                            {{ form.password.errors|add_error_class:"error" }}
                        </div>
                    </div>
                    <div class="sign-up-form">
                        <input class="btn btn-primary" style="width: 70%;" type="submit" value="Login">
{#                        <p>Don't have an account?&nbsp;<a href="{% url 'create_account' %}"> Create one</a>#}
{#                            <br/><a href="{% url 'password_reset' %}">Forgot Password?</a>#}
{#                        </p>#}

                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}