@import "../bootstrap.min.css";
button {
  font-family: 'lato', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 0.2s ease-in;
  cursor: pointer;
}
body {
  font-family: 'lato', sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #3e396b;
}
body p {
  color: #8994c6;
}
body .preamble .title {
  font-size: 1.75rem;
}
.hero {
  position: relative;
  padding: 300px 0 120px 0;
  margin-top: -100px;
  transform: skewY(-5deg);
  transform-origin: center;
}
@media (max-width: 991px) {
  .hero {
    padding: 220px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .hero {
    padding: 200px 0 60px 0;
  }
}
.hero.hero-1 {
  background-image: linear-gradient(-152deg, #6937EA 0%, #377FEA 65%);
}
.hero .row {
  transform: skewY(5deg);
}
.hero .row .title {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.02em;
}
.hero .row .lead {
  color: white;
  opacity: .75;
}
.hero .row .btn {
  padding: 16px 32px;
  background: #3ECF8E;
  color: white;
  border-radius: 28px;
}
.hero .row .btn:hover {
  background: #32db8f;
}
.hero .row .mockup {
  position: absolute;
  margin-top: -70px;
  right: -70px;
  height: 600px;
}
@media (max-width: 1280px) {
  .hero .row .mockup {
    margin-top: -80px;
    height: 550px;
    right: -20px;
  }
}
@media (max-width: 1200px) {
  .hero .row .mockup {
    margin-top: -80px;
    height: auto;
    right: -80px;
  }
}
@media (max-width: 1120px) {
  .hero .row .mockup {
    margin-top: -40px;
    height: 450px;
    right: 0;
  }
}
#header {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9;
}
#header nav {
  background: transparent;
}
#header nav .navbar-brand img {
  max-height: 40px;
}
#header nav .navbar-toggler i {
  color: white;
  font-size: 2.2rem;
}
#header nav .collapse .navbar-nav .nav-item.active .nav-link {
  opacity: 1;
}
#header nav .collapse .navbar-nav .nav-item .nav-link {
  color: white;
  opacity: .75;
  transition: 0.2s ease-in;
  font-size: 14px;
  letter-spacing: 0.02em;
}
#header nav .collapse .navbar-nav .nav-item .nav-link:hover {
  opacity: 1;
}
#header nav .collapse .navbar-text {
  padding: 8px 20px;
  background: white;
  color: #6937EA;
  border-radius: 20px;
}
#header nav .collapse .navbar-text a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: 0.2s ease-in;
}
#header nav .collapse .navbar-text a:hover {
  color: #377FEA;
}
#header-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: #377FEA;
  z-index: 9999;
  display: none;
}
#header-mobile .navbar-toggler {
  position: absolute;
  right: 30px;
  top: 25px;
}
#header-mobile .navbar-toggler i {
  color: white;
  font-size: 2.2rem;
}
#header-mobile .top-overflow {
  height: 65vh;
  overflow-y: auto;
}
#header-mobile .top {
  margin-top: 40px;
}
#header-mobile .top .nav-item.active .nav-link {
  opacity: 1;
}
#header-mobile .top .nav-item .nav-link {
  color: white;
  opacity: 1;
  transition: 0.2s ease-in;
  font-size: 24px;
  letter-spacing: 0.02em;
}
@media (max-width: 560px) {
  #header-mobile .top .nav-item .nav-link {
    padding-bottom: 0;
  }
}
#header-mobile .top .navbar-text {
  padding: 8px 20px;
  margin-top: 20px;
  background: white;
  color: #6937EA;
  border-radius: 20px;
}
#header-mobile .top .navbar-text a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: 0.2s ease-in;
}
#header-mobile .top .navbar-text a:hover {
  color: #377FEA;
}
#header-mobile .middle {
  margin-top: 40px;
}
#header-mobile .middle ul.social li a {
  width: 32px;
  height: 32px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}
#header-mobile .middle ul.social li a i {
  font-size: 15px;
}
#header-mobile .middle ul li a {
  color: #3e396b;
  font-size: 13px;
  text-decoration: none;
}
#header-mobile .middle ul li a i.ion-social-facebook {
  color: white;
}
#header-mobile .middle ul li a i.ion-social-youtube {
  color: #cd201f;
}
#header-mobile .middle ul li a i.ion-social-github {
  color: white;
}
#header-mobile .bottom {
  position: absolute;
  bottom: 40px;
}
#header-mobile .bottom img {
  max-height: 36px;
}
#header-mobile .bottom p {
  color: white;
  opacity: .75;
  font-size: 13px;
}
.features.features-1 .single-feature {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.features.features-1 .single-feature img {
  max-width: 128px;
}
.services.services-1 {
  background: #377FEA;
}
.services.services-1 .preamble .title {
  color: white;
}
.services.services-1 .preamble p {
  color: white;
  opacity: .75;
}
.services.services-1 .single-feature i {
  color: white;
  font-size: 3rem;
}
.services.services-1 .single-feature .title {
  color: white;
}
.services.services-1 .single-feature p {
  color: white;
  opacity: .75;
}
.tour .part.with-bg {
  background: #f8faff;
}
.tour .part.white-bg {
  background: white;
}
.features-tabs .nav-tabs {
  border: none;
}
.features-tabs .nav-tabs .nav-link {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.features-tabs .nav-tabs .nav-link.active {
  background: #f8faff;
  border: none;
  color: initial;
  outline: none;
}
.pricing .pricing-column .pricing-column-inner {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.pricing .pricing-column.first-child .level {
  color: #e67e22;
}
.pricing .pricing-column.first-child .btn {
  border: 2px solid #e67e22;
  color: #e67e22;
}
.pricing .pricing-column.first-child .btn:hover {
  background: #e67e22;
  color: white;
}
.pricing .pricing-column.second-child .level {
  color: #2980b9;
}
.pricing .pricing-column.second-child .btn {
  border: 2px solid #2980b9;
  color: #2980b9;
}
.pricing .pricing-column.second-child .btn:hover {
  background: #2980b9;
  color: white;
}
.pricing .pricing-column.third-child .level {
  color: #8e44ad;
}
.pricing .pricing-column.third-child .btn {
  border: 2px solid #8e44ad;
  color: #8e44ad;
}
.pricing .pricing-column.third-child .btn:hover {
  background: #8e44ad;
  color: white;
}
.pricing .pricing-column .price {
  font-size: 48px;
  color: #4E5E71;
}
.pricing .pricing-column .features-list li {
  padding: 0 0 10px 0;
  color: #677782;
  font-size: 14px;
}
.pricing .pricing-column .btn {
  padding: 16px 32px;
  background: white;
  color: #377FEA;
  border-radius: 28px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: 0.2s ease-in;
}
#footer {
  position: relative;
  background: white;
}
@media (max-width: 991px) {
  #footer {
    text-align: center;
  }
}
#footer img {
  max-height: 36px;
}
#footer p {
  color: #c4c5cf;
  font-size: 13px;
}
#footer span {
  color: #c4c5cf;
  font-size: 13px;
}
#footer ul.social li a {
  width: 32px;
  height: 32px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}
#footer ul.social li a i {
  font-size: 15px;
}
#footer ul li a {
  color: #3e396b;
  font-size: 13px;
  text-decoration: none;
}
#footer ul li a i.ion-social-facebook {
  color: #3b5999;
}
#footer ul li a i.ion-social-youtube {
  color: #cd201f;
}
#footer ul li a i.ion-social-github {
  color: #333;
}
.newsletter {
  position: relative;
  background-image: linear-gradient(-152deg, #6937EA 0%, #377FEA 65%);
}
.newsletter .preamble .title {
  color: white;
}
.newsletter .preamble p {
  color: white;
  opacity: .75;
}
.newsletter form {
  position: relative;
}
.newsletter form div {
  position: relative;
}
.newsletter form div input {
  padding: 22px 35px;
  height: 64px;
  background: white;
  border: none;
  border-radius: 35px;
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  font-family: 'lato', sans-serif;
}
.newsletter form div button {
  position: absolute;
  padding: 20px 35px;
  right: 0;
  top: 0;
  height: 64px;
  background: #3bd2a2;
  color: white;
  border: none;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.newsletter form div .rules {
  color: white;
  opacity: .65;
}
.signup {
  height: 100vh;
}
.signup #form {
  position: relative;
  flex: 0 0 500px;
}
.signup #form .logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.signup #form .logo img {
  max-height: 40px;
}
.signup #form input {
  height: 50px;
}
.signup #form button[type="submit"] {
  height: 50px;
  background: #3ECF8E;
  color: white;
}
.signup #form .login {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */